- name: "update apt packages"
  become: yes
  apt:
    update_cache: yes

- name: "upgrade packages"
  become: yes
  apt:
    upgrade: yes

- name: remove dependencies that are no longer required
  become: yes
  apt:
    autoremove: yes

- name: "Install nvm"
  become: no
  shell: >
    cd /home/ubuntu &&
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash &&
    export NVM_DIR="$HOME/.nvm" && 
    \. "$NVM_DIR/nvm.sh" &&
    \. "$NVM_DIR/bash_completion"  


  register: out
  args:
    executable: /bin/bash
    chdir: "{{ home_dir }}"
    creates: "{{ home_dir }}/.nvm/nvm.sh"

- name: Output echo
  ansible.builtin.debug:
    var: out

- name: "Install node.js"
  become: no
  shell: '. ~/.nvm/nvm.sh && nvm install 13 && npm -v && node -v'
  register: out2
  args:
    executable: /bin/bash
    # chdir: "{{ home_dir }}"

- name: Output 2 echo
  ansible.builtin.debug:
    var: out2

- name: "install pm2"
  become: no
  npm:
    name: pm2
    global: yes
    production: yes
    state: present
  register: out3

- name: Output 3 echo
  ansible.builtin.debug:
    var: out3