- name: "update apt packages"
  become: yes
  apt:
    update_cache: yes

- name: "upgrade packages"
  become: yes
  apt:
    upgrade: yes

- name: remove dependencies that are no longer required
  become: yes
  apt:
    autoremove: yes

# - name: "install dependencies"
#   become: yes
#   apt:
#     name: ["nodejs", "npm"]
#     state: latest
#     update_cache: yes

# - name: "Output path"
#   become: yes
#   shell: >
#     echo < (cat /dev/null)
#   register: out

# - name: Output echo 3
#   ansible.builtin.debug:
#     var: out

        
- name: "Install nvm"
  # become: yes
  shell: >
    cd /home/ubuntu &&
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash
  register: out
  args:
    executable: /bin/bash
    chdir: "{{ home_dir }}"
    creates: "{{ home_dir }}/.nvm/nvm.sh"

- name: Output echo
  ansible.builtin.debug:
    var: out

- name: "Install node.js"
  # become: yes
  shell: '. ~/.nvm/nvm.sh && nvm install 13'
  register: out2
  args:
    executable: /bin/bash
    # chdir: "{{ home_dir }}"

- name: Output 2 echo
  ansible.builtin.debug:
    var: out2

- name: "install pm2"
  become: yes
  npm:
    name: pm2
    global: yes
    production: yes
    state: present